<!--     <p><strong>Source:</strong> <%#= @metro_s.source %></p><br>
    <p><strong>Destination:</strong> <%#= @metro_s.destination %></p><br>
    <p><strong>Name:</strong> <%#= @user.name %></p><br>
    <p><strong>Email:</strong> <%#= @user.email %></p>
   <%#@metro_service = MetroService.find_by(source:@metro_s.source, destination: @metro_s.destination)%>
    <%#= link_to "See trains " trains_path(params[:])%> -->